script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
script.
	!window.jQuery && document.write('<script src="public/js/lib/jquery-3.2.1.min.js"><\\/script>')
script(src='public/dist/min/script.min.js')