/*
* Colors
*/
$color_white: #fff;
$color_black: #000;
$color_gray: #E5E5E5;

/*
* Responsive Breakpoints
*/ 
$breakPoint_desktop: 1200px;
$breakPoint_labtop: 992px;
$breakPoint_tablet: 768px;
$breakPoint_mobile: 576px;